@import url("keyboard.css");

@layer modifiers {
	[hidden] {
		display: none !important;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

details, label {
	--color: hsl(var(--hue) 100% 40%);
}

details {
	border: 2px solid var(--color);
	border-radius: 16px;
	padding: 6px;
}

summary {
	color: var(--color);
	font-weight: bold;
	cursor: pointer;
}

label {
	cursor: pointer;
	color: var(--color);
}

label input {
	accent-color: var(--color);
}

table { border-collapse: collapse; }
td { padding: 1px 2px; }
td:first-child { padding-right: 8px; }
td:last-child { text-align: center; }
tr:nth-child(even) { background-color: #eee; }
tr:hover { background-color: #ddd; }

h1 span {
	font-size: 50%;
}

hr { clear: both; }

#logo {
	float: right;
	margin-left: 32px;
}

#groups {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 4px;
}

#groups details {
	flex: 1 0 40%;
}

#log {
	--color: #000;
}

#log pre { margin: 0; }

#keyboard form {
	margin-top: 8px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

[hidden] + hr, :empty + hr { display: none; }